@using ToOut3.Models
@{
    ViewData["Title"] = "Control Panel";
}

<section class="grating text-center" >
    <div class="container">
        <h1>- Welcome -</h1>
    </div>
</section>

<section class="Setting text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12 Config" >
                <a asp-action="Index" asp-controller="Manage">
                    <i class="fas fa-sliders-h"></i>
                    <h2>Manage</h2>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 Config">
                <a asp-action="Index" asp-controller="Settings">
                    <i class="fas fa-cog"></i>
                    <h2>Settings</h2>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12 Config">
                <a asp-action="Index" asp-controller="Analytics">
                    <i class="fas fa-chart-bar"></i>
                    <h2>Analytics</h2>
                </a>
            </div>
        </div>
    </div>
    
</section>
