
@{
    ViewData["Title"] = "Index";
}

<section class="grating text-center">
    <div class="container">
        <h1>- Settings -</h1>
    </div>
</section>
<section>
    <div class="container unstyled">
        <ul class="Settings  text-center ">
            <li><a asp-action="Department" >Manage Departments</a></li>
            <li><a asp-action="AddAdmin">ADD new admin</a></li>
            <li><a asp-action="Distribution">Student's Distribution</a></li>
            <li><a asp-action="MyAccount">View Personal info</a></li>
        </ul>
    </div>
</section>

